@import './style/base/_base.css';
@import './style/base/_typography.css';
@import './style/layout/_div_and_section.css';
@import './style/Tools/_buttons.css';
@import './style/Tools/_card.css';

section{
  background: #16120F;
}

img{
  width: 100%;
  height: 330px;
  background-size: cover;
  border-radius: 1rem;
}

/* My center setting */
.center__flex__mobile{
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 2rem;
}

.center__flex__ipad{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 768px) {

  .center__flex__mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  img{
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 1rem;
  }
 
}

