/* For mobile */

.main__container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    padding: 8rem 1rem 1rem 1rem;
    background: 
    linear-gradient(to bottom, 
        rgba(22, 18, 15, 0.4) 0%, 
        rgba(22, 18, 15, 0.7) 70%, 
        #16120F 100%),
    url('../../pictures/antiquities-6973196_1920.jpg');
    background-size: cover;
    box-sizing: border-box;
    overflow-y: hidden;
    height: 100vh;
}

.submain__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem 1rem 1rem;
    background: linear-gradient(-280deg, #16120F 80%, #007bff 100%);
    background-size: cover;
    box-sizing: border-box;
    overflow-y: hidden;
    min-height: 100vh;
}

.about__dashboard{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    padding: 2rem 1rem 1rem 1rem;
    background: #16120F;
    background-size: cover;
    box-sizing: border-box;
    overflow-y: hidden;
    min-height: 100vh;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

/* For Tablet */
@media (min-width: 768px) {
    .main__container{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .submain__container{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        gap: 2rem;
        padding: 2rem 1rem 1rem 1rem;
        background: linear-gradient(135deg, #16120F 0%, #007bff 100%);
        background-size: cover;
        box-sizing: border-box;
        overflow-y: hidden;
        margin: 0 4rem;
    }

    .step {
        align-items: center;
        padding-top: 4rem;
        max-width: 800px;
        margin: 0 auto;
    }
}
/* For Desktop */

@media (min-width: 1024px) {

    .submain__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 8rem 1rem 1rem 1rem;
        background: #16120F;
        background-size: cover;
        box-sizing: border-box;
        overflow-y: hidden;
        margin: 0 4rem;
    }
}